* {
  box-sizing: border-box;
}

body {
  background-color: hsl(207, 36%, 49%);
  text-align: center;
}

h1 {
  color: hsl(343, 77%, 87%);
  font-size: 50px;
  font-family: "Baskerville", serif;
}

h2 {
  color: hsl(345, 63%, 76%);
  font-size: 30px;
  font-family: "Baskerville", serif;
}

p {
  border-top: 2px solid hsl(213, 36%, 70%);
  border-bottom: 2px solid hsl(213, 36%, 70%);
  color: hsl(352, 26%, 95%);
  font-size: 15px;
  font-family: "Palatino", serif;
  line-height: 2.5;
  margin: 45px 140px;
}

.highlight {
  color: hsl(339, 100%, 92%);
}
.poem {
  margin: 100px 0px;
}