h1 {
    color: hsl(207, 36%, 49%);
    font-size: 50px;
    font-family: "Baskerville", serif;
}
h3 {
        color: hsl(207, 36%, 49%);
    font-size: 30px;
    font-family: "Baskerville", serif;  
}

p {
    background-color: hsl(354, 39%, 95%);
    color: hsl(210, 14%, 26%);
    font-size: 15px;
    font-family: "Palatino", serif;
  }
